body{
    margin: 0;
    background-color: rgb(255, 222, 255);
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background: linear-gradient(95deg, rgb(134, 0, 134), rgb(210, 0, 210));
    /* background: linear-gradient(45deg, red, blue); */
    color: white;
    padding: 30px;
    text-align: center;
    font-size: xx-large;
}
.jump_button_wrapper{
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
}
.jump_button_wrapper a{
    color: white;
    text-decoration: none;
}
.jump_button{
    border: solid;
    font-size: large;
    padding: 7px;
    border-radius: 20px;
}
.jump_button:hover{
    background-color: white;
    color: purple;
    border: solid purple;
    transition: all 0.3s;
    cursor: pointer;
}
.up_arrow{
    background-color: purple;
    border-radius: 50%;
    position: fixed;
    left: 90%;
    top: 85%;
}
.up_arrow:hover{
    background-color: rgb(191, 0, 191);
    transform: scale(1.1);
    transition: all 0.3s;
    cursor: pointer;
}
.category_wrappers{
    background-color: white;
    margin: 30px;
    padding: 30px;
    border-radius: 10px;
    min-width: 270px;
}
.category_title{
    width: fit-content;
    border: solid;
    padding: 10px;
    border-radius: 20px;
    color: white;
    background-color: rgb(153, 0, 153);
    font-size: larger;
}
.dates{
    margin-bottom: 15px;
}
.event_wrapper{
    border: 1.5px solid purple;
    padding: 30px;
    margin: 15px;
    border-radius: 10px;
    box-shadow: 0px 1px 3px;
}
.event_title{
    font-size: large;
}
.event_details{
    display: flex;
    align-items: center;
    margin-top: 10px;
    gap: 2rem;
}
.event_details i{
    color: purple;
    margin-left: auto;
}
.event_details i:hover{
    color: rgb(182, 0, 182);
    transform: scale(1.1);
    transition: all 0.3s;
    cursor: pointer;
}
.event_wrapper img{
    border-radius: 5px;
}
.vertical_line{
    border: 1.5px solid purple;
    height: 120px;
}
footer{
    background-color: purple;
    color: white;
    padding: 40px;
    text-align: center;
}
@media screen and (max-width: 860px) {
    .event_details img{
        width: 225px;
        height: 150px;
    }
}
@media screen and (max-width: 700px) {
    .event_details{
        display: flex;
        flex-direction: column;
    }
    .vertical_line{
        display: none;
    }
    .event_details i{
        margin: 0;
    }
    .category_wrappers{
        padding: 20px;
    }
    .event_details img{
        width: 70%;
        height: 180px;
        min-width: 230px;
    }
}